.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(101, 116, 134, 0.15);
    z-index: 10001;
    cursor: not-allowed;

    .ripple-loader {
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        div {
            position: absolute;
            border: 4px solid rgba(38, 40, 42, 0.76);
            opacity: 1;
            border-radius: 50%;
            animation: ripple-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

        div:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes ripple-loader {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
