// positions
$stc: static;
$abt: absolute;
$rtv: relative;
$fxd: fixed;
$stk: sticky;

// content position
$ctr: center;
$tp: top;
$btm: bottom;
$rt: right;
$lft: left;
$mdl: middle;

// fallback font settings
$fallbackFonts: "Verdana, Geneva, sans-serif";
$headerHeight: $px-50;
$footerHeight: $px-100;
$homePageHeight: $headerHeight + $footerHeight;
