@import "../../node_modules/normalize.css/normalize.css";
@import "pixels";
@import "variables";
@import "font-roboto";
@import "colours";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $fontFamilyRoboto, $fallbackFonts;
    font-size: 16px;
    color: $gray-l7;
    height: 100%;
}

body {
    height: inherit;
    font-size: 100%;
    background-color: $gray-l1;
}

#app {
    position: relative;
    height: inherit;
}

input,
img {
    vertical-align: $mdl;
}
